$page-color: rgb(71, 230, 169);

.site {
    display: flex;
    flex-direction: column;
    height: 200vh;

    input[type=button] {
        margin: 0 1%;
    }

    .title {
        background-color: rgb(60, 168, 60);
        border-radius: 8px 8px 0 0;
        width: 100%;
        padding: 1%;
    }
}

.logo {
    display: flex;
    align-content: center;
    background: $page-color;
    color: white;
    padding: 1%;

    a {
        text-decoration: none;
        color: white;
        transform: translateY(10px);
        margin-left: 1%
    }
}

.cards {
    flex-grow: 1;
    display: flex; gap:4%; margin:3% 0;
    img {width:400px}
}



.carousel.slide {
    h5, p{
        color:rgb(159, 255, 223)
    }

    .title {
        transform: translateY(33px);
    }

    .carousel-inner .carousel-item img,
    .carousel-inner .carousel-item.active img {
        margin: auto;
    }
    margin: 4% 0;
}

.footer {
    font-weight: lighter;
    color: rgb(0, 0, 0);
    text-align: end;

    li {
        list-style: none;
    }
}